*{
    
    margin: 0;
    padding: 0;
    
}

#menustrip{
    /*width: 100%;
    height: 30px;
    background-color: orange;*/
}

#mlogo{
    height: 100%;
    font-size: 100%;
    margin-top: 10px;
    text-align: center;
    grid-area: logo;
    
}

#mlogo:hover{
    
    /*display: none;
    */
    color: chartreuse;
    font-family: 'Calistoga', cursive;
    font-weight: 900;
    
    
}

#m2{
    display: grid;
    grid-template-columns: repeat(8 ,1fr);
    grid-template-rows: minmax(50px,auto); 
    
    margin-top: 5px;
    text-align: center;
    grid-template-areas: 
        "logo deal  categories me coupons sell  search cart"
   
    
}
/*DIV For Menu Bascic*/
#mchild1{
    
    text-align: center;
    margin-top: 10px;
    grid-area: deal;
    
}
#mchild2{
    text-align: center;
    margin-top: 10px;
    grid-area: categories;
}
#mchild3{
    text-align: center;
    margin-top: 10px;
    grid-area: me;
}
#mchild4{
    text-align: center;
    margin-top: 10px;
    grid-area: coupons;
}
#mchild5{
    text-align: center;
    margin-top: 10px;
    grid-area: sell;
}
#mchild6{
    text-align: center;
    margin-top: 10px;
    grid-area: search;
}
#mchild7{
    text-align: center;
    margin-top: 10px;
    grid-area: cart;
}
/*
#mchild8{
    text-align: center;
    margin-top: 10px;
}*/
/*DIV For Menu Hover*/

#mchild1:hover{
    
    /*display: none;
    */
    color: orange;
    font-family: cursive;

    font-weight: 900;
    
    
}
#mchild2:hover{
    
    /*display: none;
    */
    color: orange;
    font-family: cursive;

    font-weight: 900;
    
    
}
#mchild3:hover{
    
    /*display: none;
    */
    color: orange;
    font-family: cursive;

    font-weight: 900;
    
    
}
#mchild4:hover{
    
    /*display: none;
    */
    color: orange;
    font-family: cursive;

    font-weight: 900;
    
    
}
#mchild5:hover{
    
    /*display: none;
    */
    color: orange;
    font-family: cursive;

    font-weight: 900;
    
    
}
#mchild6:hover{
    
    /*display: none;
    */
    color: orange;
    font-family: cursive;

    font-weight: 900;
    
    
}
#mchild7:hover{
    
    /*display: none;
    */
    color: orange;
    font-family: cursive;

    font-weight: 900;
    
    
}





/*Hover ends*/



















.imagescroll1{
    background: url("img3.jpg");
    height: 339px;
    width: 100%;
    background-attachment: fixed;
    position: relative;
}
#imagescroll2{
    background: url("6.jpg");
    height: 230px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#Trainbuy{
    border: 5px solid orange;
    height: 15%;
    width: 15%;
    border-radius: 20px;
    background: none;
    font-weight: 700;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    position: absolute;
    left:50%;
    top:50%;       
}

/*
#buyitem{
    border: 1px solid orange;
    background: none;
    font-weight: 700;
    height: 100%;
    width:100%;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    
}*/

#buy{
    border: 5px solid orange;
  
    border-radius: 2px;
    background: none;
    font-weight: 700;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px); 
}




#Tobuy{
}
/*.it{
    
}

*/
#item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
     grid-row-gap: 10px;
}
#i1{
    background:url(cat2.png);
    height: 100%;
    
    
    background-repeat: no-repeat;
}

#i2{
    background:url(cat.jpg);
    height: 100%;
    
    background-repeat: no-repeat;
    }

#i3{
    background:url(cat2.png);
    height: 100%;
    background-repeat: no-repeat;
    
}

#i4{
    background:url(cat.jpg);
    height: 100%;
    background-repeat: no-repeat;
}

#i5{
    background:url(cat2.png);
    height: 100%;
    background-repeat: no-repeat;
}

#i6{
    background:url(cat.jpg);
    height: 100%;
    background-repeat: no-repeat;
}


#Tobuy2{
    height:40%;
    width: 100%;
}

.it2{
    
    height: 100%;
    width: 350px;
}

#item2{
    display: grid;
    grid-template-columns: 33.3% 33.3% 20%;
    /*
    grid-template-columns: repeat(3, 1fr);
    */
    grid-row-gap: 10px;
    grid-auto-rows: minmax(150px, auto);
}

#it1{
    background:url(1.png);
    background-repeat: no-repeat;
    
}

#it2{
    background:url(2.png);   
    background-repeat: no-repeat;
    }

#it3{
    background:url(3.png);   
    background-repeat: no-repeat;
    }

#it4{
    background:url(4.png);
        /*height: 100%;
    width: 100%;*/
    background-repeat: no-repeat;
    
}

#it5{
    background:url(5.png);
    background-repeat: no-repeat;
    }

#it6{
    background:url(6.png);
    background-repeat: no-repeat;
    }
*/

.imagescroll3{
     background: url(img1.jpg);

    height: 230px;
    width: 100%;
   
}
h1{
   text-align: center;
    font-family: monospace;
    letter-spacing: 15px;
    background-color: azure;
    background-attachment: scroll;
       
}
p{
    font-family: monospace;
    letter-spacing: 1px;
    background: url(al.jpg);
    background-attachment:fixed;
    
}

@media screen and(max-width:1024){
    #item{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-row-gap: 10px;
        
    }
    
    
    #m2{
        
        display: grid;
        grid-auto-rows:minmax(200px,auto); 
         grid-template-areas: 
        "logo logo logo logo logo logo logo logo"
        "deal deal deal deal deal deal deal deal"
        "categories categories categories categories categories categories categories categories"
        "me me me me me me me me"
        "coupons coupons coupons coupons coupons coupons coupons coupons"
        "sell sell sell sell sell sell sell sell"
        "search search search search search search search search"
        "cart cart cart cart cart cart cart cart"
 
        text-align: center;
}
    
    #buy{
        display: none;
    }
    
}

@media screen and(max-width:480px){
     #item{
        grid-template-columns: 50% 50%;
        grid-auto-rows: minmax(100px, auto);
        grid-row-gap: 10px;
        
    }
    #m2{
        
        display: grid;
        grid-auto-rows:minmax(200px,auto); 
         grid-template-areas: 
        "logo logo logo logo logo logo logo logo"
        "deal deal deal deal deal deal deal deal"
        "categories categories categories categories categories categories categories categories"
        "me me me me me me me me"
        "coupons coupons coupons coupons coupons coupons coupons coupons"
        "sell sell sell sell sell sell sell sell"
        "search search search search search search search search"
        "cart cart cart cart cart cart cart cart"
 
        text-align: center;
}
    
    #buy{
        display: none;
    }
}
